@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shantell+Sans:wght@300&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #F4F2DE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1 {
    font-size: 3vw;
    color: #E9B384;
}

.left-login h2 {
    font-size: 2vw;
}

.left-login-image {
    width: 25vw;
}

.rigth-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #E9B384;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #46382c;
}

.card-login h1 {
    font-weight: 800;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 12pt;
    box-shadow: 0px 10px 40px -12px #46382c;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    font-weight: 500;
    margin-bottom: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.links a {
    width: fit-content;
    font-size: .9rem;
    color: #4845a0;
    text-decoration: none;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: #A1CCD1;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #46382c;
}